/* Background untuk Beranda */
body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  /* Tambahkan overlay untuk memberikan efek gelap */
  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  /* Tambahkan margin untuk konten */
  .container-content {
    padding-top: 150px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
  }